#twt
twt.maxProcessTime=20

#osrm server configuration
#> 이중화 필요함.
twt.osrmServerIp=192.168.6.45
twt.osrmServerPort=20000
twt.osrmServerIpPort=${twt.osrmServerIp}:${twt.osrmServerPort}

#log color enabled
spring.output.ansi.enabled=always

#spring configuration
server.servlet.encoding.charset=UTF-8
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true


#server configuration
server.port=8088


#logging.file.path=d:/logs/
#logging.file.name=${logging.file.path}myapp.log

#log level 설정은 , logback-spring.xml에서 함
#logging.level.kr.stteam.TwtRoute=DEBUG
#logging.level.root
#logging.level.org.springframework=INFO
